In [1]:
import numpy as np
import pandas as pd
from scipy.stats import rankdata
from cryptoaml.utils import read_pickle
from Orange.evaluation.scoring import compute_CD
from Orange.evaluation.scoring import graph_ranks

In [2]:
exp_1_elliptic_random_forest = read_pickle("persistence/experiment_1/results/benchmark_model_results.pkl")

In [8]:
for value in exp_1_elliptic_random_forest["random_forest"]:
    tmp_data = exp_1_elliptic_random_forest["random_forest"][value]["metrics_iterations"][["iteration", "f1"]]
    tmp_data["dataset_name"] =  value + '_' + tmp_data['iteration'].astype(str)
    display(tmp_data)
# model_results = [
#     {"model":"RF", "score": 0.768,  "dataset_name": "ell_LF" },
#     {"model":"RF", "score": 0.806,  "dataset_name": "ell_LF_NE" },
#     {"model":"RF", "score": 0.800,  "dataset_name": "ell_AF" },
#     {"model":"RF", "score": 0.819 , "dataset_name": "ell_AF_NE" },
#     {"model":"RF", "score": 0.972 , "dataset_name": "eth" },
#     {"model":"RF", "score": 0.662 , "dataset_name": "noaa" },

    
#     {"model":"T_XGB", "score": 0.791,  "dataset_name": "ell_LF" },
#     {"model":"T_XGB", "score": 0.793,  "dataset_name": "ell_LF_NE" },
#     {"model":"T_XGB", "score": 0.822,  "dataset_name": "ell_AF" },
#     {"model":"T_XGB", "score": 0.815 , "dataset_name": "ell_AF_NE" },
#     {"model":"T_XGB", "score": 0.983 , "dataset_name": "eth" },
#     {"model":"T_XGB", "score": 0.691 , "dataset_name": "noaa" },

    
#     {"model":"T_LGBM", "score": 0.784,  "dataset_name": "ell_LF" },
#     {"model":"T_LGBM", "score": 0.791,  "dataset_name": "ell_LF_NE" },
#     {"model":"T_LGBM", "score": 0.819,  "dataset_name": "ell_AF" },
#     {"model":"T_LGBM", "score": 0.819 , "dataset_name": "ell_AF_NE" },
#     {"model":"T_LGBM", "score": 0.982 , "dataset_name": "eth" },
#     {"model":"T_LGBM", "score": 0.681 , "dataset_name": "noaa" },
# ]

# model_results_df = pd.DataFrame(data=model_results)
# lst = model_results_df.groupby('dataset_name')['score'].apply(pd.Series.tolist).tolist()
# ranks = [rankdata(row, method="average") for row in lst]
# ranks = np.array(ranks)
# model_results_df["ranks"] = model_results_df.groupby("dataset_name").rank(ascending=False)
# x = model_results_df.groupby("model")["ranks"].mean().to_dict()
# avg_ranks = list(x.values())
# clfs = list(x.keys())
# cd = compute_CD(avg_ranks, 6)
# graph_ranks(avg_ranks, names=clfs, cd=cd, width=6, textspace=1.5)


# display(model_results_df)

/home/delinvas/anaconda3/envs/btc-classifier/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    iteration        f1 dataset_name
0           0  0.769788         LF_0
1           1  0.767095         LF_1
2           2  0.769631         LF_2
3           3  0.765738         LF_3
4           4  0.773730         LF_4
..        ...       ...          ...
95         95  0.772912        LF_95
96         96  0.764278        LF_96
97         97  0.768839        LF_97
98         98  0.775258        LF_98
99         99  0.777665        LF_99

[100 rows x 3 columns]

/home/delinvas/anaconda3/envs/btc-classifier/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    iteration        f1 dataset_name
0           0  0.805585      LF_NE_0
1           1  0.807447      LF_NE_1
2           2  0.804696      LF_NE_2
3           3  0.808488      LF_NE_3
4           4  0.808989      LF_NE_4
..        ...       ...          ...
95         95  0.805763     LF_NE_95
96         96  0.803838     LF_NE_96
97         97  0.808965     LF_NE_97
98         98  0.808579     LF_NE_98
99         99  0.804746     LF_NE_99

[100 rows x 3 columns]

/home/delinvas/anaconda3/envs/btc-classifier/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    iteration        f1 dataset_name
0           0  0.801649         AF_0
1           1  0.800000         AF_1
2           2  0.802882         AF_2
3           3  0.797753         AF_3
4           4  0.795699         AF_4
..        ...       ...          ...
95         95  0.803498        AF_95
96         96  0.795524        AF_96
97         97  0.795524        AF_97
98         98  0.796532        AF_98
99         99  0.805970        AF_99

[100 rows x 3 columns]

/home/delinvas/anaconda3/envs/btc-classifier/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    iteration        f1 dataset_name
0           0  0.819968      AF_NE_0
1           1  0.820106      AF_NE_1
2           2  0.820730      AF_NE_2
3           3  0.818806      AF_NE_3
4           4  0.819672      AF_NE_4
..        ...       ...          ...
95         95  0.820594     AF_NE_95
96         96  0.817410     AF_NE_96
97         97  0.819088     AF_NE_97
98         98  0.818658     AF_NE_98
99         99  0.818997     AF_NE_99

[100 rows x 3 columns]