In [1]:
###### importing dependencies #############################################
import cryptoaml.datareader as cdr

In [2]:
# ###### elliptic dataset ###################################################
# # https://www.kaggle.com/ellipticco/elliptic-data-set
# ###########################################################################

# # load elliptic dataset 
# elliptic = cdr.get_data("elliptic")

# # print labels information 
# print(elliptic.labels_)
# print(elliptic.label_count_)

In [3]:
###### ethereum fraud detection dataset ###################################
# https://github.com/sfarrugia15/Ethereum_Fraud_Detection
###########################################################################

# load eth fraud accounts dataset 
eth_fraud = cdr.get_data("eth_fraud")

# print labels information 
print(eth_fraud.labels_)
print(eth_fraud.label_count_)

print(eth_fraud.feature_cols_)

print(len(eth_fraud.feature_cols_))

display(eth_fraud.dataset_)



display(eth_fraud.dataset_[["erc20_uniq_sent_addr", "erc20_uniq_sent_addr.1"]])

{'licit': 0, 'illicit': 1}
0    2502
1    2179
Name: class, dtype: int64
['avg_min_between_sent_tnx', 'avg_min_between_received_tnx', 'time_diff_between_first_and_last_(mins)', 'sent_tnx', 'received_tnx', 'number_of_created_contracts', 'unique_received_from_addresses', 'unique_sent_to_addresses', 'min_value_received', 'max_value_received', 'avg_val_received', 'min_val_sent', 'max_val_sent', 'avg_val_sent', 'min_value_sent_to_contract', 'max_val_sent_to_contract', 'avg_value_sent_to_contract', 'total_transactions_(including_tnx_to_create_contract)', 'total_ether_sent', 'total_ether_received', 'total_ether_sent_contracts', 'total_ether_balance', 'total_erc20_tnxs', 'erc20_total_ether_received', 'erc20_total_ether_sent', 'erc20_total_ether_sent_contract', 'erc20_uniq_sent_addr', 'erc20_uniq_rec_addr', 'erc20_uniq_sent_addr.1', 'erc20_uniq_rec_contract_addr', 'erc20_avg_time_between_sent_tnx', 'erc20_avg_time_between_rec_tnx', 'erc20_avg_time_between_rec_2_tnx', 'erc20_avg_time_between_contract_tnx', 'erc20_min_val_rec', 'erc20_max_val_rec', 'erc20_avg_val_rec', 'erc20_min_val_sent', 'erc20_max_val_sent', 'erc20_avg_val_sent', 'erc20_min_val_sent_contract', 'erc20_max_val_sent_contract', 'erc20_avg_val_sent_contract', 'erc20_uniq_sent_token_name', 'erc20_uniq_rec_token_name', 'erc20_most_sent_token_type', 'erc20_most_rec_token_type']
47

,address,avg_min_between_sent_tnx,avg_min_between_received_tnx,time_diff_between_first_and_last_(mins),sent_tnx,received_tnx,number_of_created_contracts,unique_received_from_addresses,unique_sent_to_addresses,min_value_received,...,erc20_max_val_sent,erc20_avg_val_sent,erc20_min_val_sent_contract,erc20_max_val_sent_contract,erc20_avg_val_sent_contract,erc20_uniq_sent_token_name,erc20_uniq_rec_token_name,erc20_most_sent_token_type,erc20_most_rec_token_type,class
0,0x0020731604c882cf7bf8c444be97d17b19ea4316,1457.31,34.12,4815.43,3,13,0,10,3,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,0x002bf459dc58584d58886169ea0e80f3ca95ffaf,3976.50,834.77,9622.53,2,2,0,1,2,0.586269,...,0.0000,0.000000,0.0,0.0,0.0,0.0,1.0,,Blockwell say NOTSAFU,1
2,0x002f0c8119c16d310342d869ca8bf6ace34d9c39,112.90,31.87,321.42,2,3,0,3,1,0.001020,...,0.0000,0.000000,0.0,0.0,0.0,0.0,1.0,,Blockwell say NOTSAFU,1
3,0x0059b14e35dab1b4eee1e2926c7a5660da66f747,2300.37,65.10,73091.00,29,98,0,89,26,0.000784,...,81324.0746,5232.816018,0.0,0.0,0.0,22.0,37.0,OCoin,OCoin,1
4,0x005b9f4516f8e640bbe48136901738b323c53b00,0.00,0.00,0.00,0,0,0,0,0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4676,0xff010358a803a64a006b5b016e53814b631997d9,0.00,0.00,1.52,1,1,0,1,1,4.000000,...,0.0000,0.000000,0.0,0.0,0.0,0.0,0.0,0,0,0
4677,0xff2bdb6e32a93e6bb6fbab227fbdde07f721adae,9800.26,9384.37,489235.00,3,49,0,4,1,0.095005,...,0.0000,0.000000,0.0,0.0,0.0,0.0,12.0,,VIU,0
4678,0xff45c8f8595288344b7dbe08f678d35cea34a5e0,0.00,0.00,173.97,1,1,0,1,1,0.700000,...,0.0000,0.000000,0.0,0.0,0.0,0.0,0.0,0,0,0
4679,0xff91e7d4eeb3b71d2b61ea8022b5f53155094aa0,7.72,502.02,1521.52,2,3,0,1,1,0.010000,...,0.0000,0.000000,0.0,0.0,0.0,0.0,0.0,0,0,0
4680,0xfffdfc3513b990a30ef0b4bead4886c4c7cd2bec,862.44,8731.69,278444.23,9,31,0,3,1,0.043166,...,0.0000,0.000000,0.0,0.0,0.0,0.0,1.0,,OmiseGO,0

      erc20_uniq_sent_addr  erc20_uniq_sent_addr.1
0                      NaN                     NaN
1                      0.0                     0.0
2                      0.0                     0.0
3                      6.0                     0.0
4                      NaN                     NaN
...                    ...                     ...
4676                   0.0                     0.0
4677                   0.0                     0.0
4678                   0.0                     0.0
4679                   0.0                     0.0
4680                   0.0                     0.0

[4681 rows x 2 columns]