In [1]:
###### importing dependencies ############################################
from cryptoaml import utils as util  

###### constants #########################################################
experiment_1 = "persistence/experiment_1/tuning_studies/"

tpe_search = "{}tpe/".format(experiment_1)
# grid_search  = "{}grid_search/".format(experiment_1)

In [2]:
# XGBOOST

# XGBOOST LF
print("XGBOOST LF GS")
study_gsxgb_LF = util.read_pickle(experiment_1 + "rs_xgboost_LF.pkl")
study_gsxgb_LF_df = study_gsxgb_LF.trials_dataframe()
display(study_gsxgb_LF_df[study_gsxgb_LF_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

print("XGBOOST LF TPE")
study_tpexgb_LF = util.read_pickle(experiment_1 + "tpe_xgboost_LF.pkl")
study_tpexgb_LF_df = study_tpexgb_LF.trials_dataframe()
display(study_tpexgb_LF_df[study_tpexgb_LF_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

# XGBOOST LF_NE 
print("XGBOOST LF_NE GS")
study_gsxgb_LF_NE = util.read_pickle(experiment_1 + "rs_xgboost_LF_NE.pkl")
study_gsxgb_LF_NE_df = study_gsxgb_LF_NE.trials_dataframe()
display(study_gsxgb_LF_NE_df[study_gsxgb_LF_NE_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

print("XGBOOST LF_NE TPE")
study_tpexgb_LF_NE = util.read_pickle(experiment_1 + "tpe_xgboost_LF_NE.pkl")
study_tpexgb_LF_NE_df = study_tpexgb_LF_NE.trials_dataframe()
display(study_tpexgb_LF_NE_df[study_tpexgb_LF_NE_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

# XGBOOST AF 
print("XGBOOST AF GS")
study_gsxgb_AF = util.read_pickle(experiment_1 + "rs_xgboost_AF.pkl")
study_gsxgb_AF_df = study_gsxgb_AF.trials_dataframe()
display(study_gsxgb_AF_df[study_gsxgb_AF_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

print("XGBOOST AF TPE")
study_tpexgb_AF = util.read_pickle(experiment_1 + "tpe_xgboost_AF.pkl")
study_tpexgb_AF_df = study_tpexgb_AF.trials_dataframe()
display(study_tpexgb_AF_df[study_tpexgb_AF_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

# XGBOOST AF_NE 
print("XGBOOST AF_NE GS")
study_gsxgb_AF_NE = util.read_pickle(experiment_1 + "rs_xgboost_AF_NE.pkl")
study_gsxgb_AF_NE_df = study_gsxgb_AF_NE.trials_dataframe()
display(study_gsxgb_AF_NE_df[study_gsxgb_AF_NE_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

print("XGBOOST AF_NE TPE")
study_tpexgb_AF_NE = util.read_pickle(experiment_1 + "tpe_xgboost_AF_NE.pkl")
study_tpexgb_AF_NE_df = study_tpexgb_AF_NE.trials_dataframe()
display(study_tpexgb_AF_NE_df[study_tpexgb_AF_NE_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

XGBOOST LF GS

,number,value,datetime_start,datetime_complete,params_learning_rate,params_n_estimators,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
32,32,0.888558,2020-04-14 19:14:24.727549,2020-04-14 19:15:53.351589,0.2825,275,0.982507,0.888558,0.757630,0.074795,COMPLETE
25,25,0.888360,2020-04-14 19:00:09.294941,2020-04-14 19:02:13.210255,0.2750,400,0.981022,0.888360,0.759857,0.070538,COMPLETE
82,82,0.887974,2020-04-14 21:12:43.277063,2020-04-14 21:15:05.734035,0.2750,475,0.981022,0.887974,0.759857,0.071125,COMPLETE
90,90,0.887924,2020-04-14 21:29:14.561693,2020-04-14 21:31:21.908715,0.1775,400,0.985380,0.887924,0.757630,0.074714,COMPLETE
66,66,0.886769,2020-04-14 20:37:27.888913,2020-04-14 20:39:56.077780,0.2175,475,0.983942,0.886769,0.757630,0.074371,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...
5,5,0.870136,2020-04-14 18:24:20.471830,2020-04-14 18:24:52.978687,0.1075,100,0.982456,0.870136,0.616216,0.114370,COMPLETE
74,74,0.867447,2020-04-14 20:54:59.830310,2020-04-14 20:55:42.385791,0.2675,125,0.983988,0.867447,0.676889,0.098617,COMPLETE
27,27,0.867447,2020-04-14 19:03:55.927358,2020-04-14 19:04:38.354610,0.2675,125,0.983988,0.867447,0.676889,0.098617,COMPLETE
85,85,0.866862,2020-04-14 21:22:33.246474,2020-04-14 21:23:14.439609,0.1225,125,0.983988,0.866862,0.700000,0.102133,COMPLETE
0,0,0.866188,2020-04-14 18:17:15.536263,2020-04-14 18:17:52.710546,0.1925,100,0.985423,0.866188,0.677196,0.105738,COMPLETE

XGBOOST LF TPE

,number,value,datetime_start,datetime_complete,params_colsample_bytree,params_gamma,params_max_delta_step,params_max_depth,params_min_child_weight,params_reg_alpha,params_reg_lambda,params_subsample,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
97,97,0.908214,2020-04-15 00:57:28.965029,2020-04-15 00:58:45.500862,0.918922,0.00125,1,11,0,2.752869e-08,5.205785e-06,0.934989,0.979472,0.908214,0.704120,0.078781,COMPLETE
95,95,0.907602,2020-04-15 00:54:53.135923,2020-04-15 00:56:06.449429,0.923621,0.00200,1,10,0,4.305793e-08,7.106467e-07,0.934860,0.985337,0.907602,0.750903,0.070636,COMPLETE
53,53,0.903293,2020-04-15 00:01:34.574159,2020-04-15 00:03:14.581193,0.923319,0.00000,1,6,0,2.643758e-08,1.531493e-04,0.917246,0.981022,0.903293,0.762075,0.069036,COMPLETE
91,91,0.903177,2020-04-15 00:49:59.308752,2020-04-15 00:51:10.141490,0.929800,0.00325,1,7,0,6.991886e-08,1.266580e-05,0.939822,0.985423,0.903177,0.753153,0.075154,COMPLETE
15,15,0.903101,2020-04-14 23:13:17.716743,2020-04-14 23:14:34.669933,0.907573,0.00025,0,7,0,1.038703e-07,1.725639e-04,0.902136,0.982405,0.903101,0.750903,0.071361,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,41,0.864291,2020-04-14 23:46:30.657451,2020-04-14 23:47:26.686007,0.921633,0.00275,1,3,0,1.344381e-07,3.531463e-06,0.930723,0.982353,0.864291,0.687313,0.097288,COMPLETE
3,3,0.860723,2020-04-14 22:58:49.806797,2020-04-14 22:59:47.862091,0.990621,0.01725,1,3,10,3.699829e-02,1.032086e-04,0.906490,0.976608,0.860723,0.726552,0.090816,COMPLETE
12,12,0.859482,2020-04-14 23:10:00.210724,2020-04-14 23:10:41.379066,0.921186,0.00050,0,1,1,1.138331e-08,4.136306e-05,0.958427,0.964602,0.859482,0.665377,0.104337,COMPLETE
56,56,0.856299,2020-04-15 00:05:41.885614,2020-04-15 00:06:40.646993,0.920329,0.00000,1,3,1,4.202927e-08,3.954150e-05,0.912888,0.981077,0.856299,0.715328,0.094718,COMPLETE
19,19,0.840063,2020-04-14 23:18:36.498264,2020-04-14 23:19:26.575361,0.914552,0.00025,0,2,3,7.760807e-06,8.947846e-06,0.924072,0.979532,0.840063,0.704312,0.101344,COMPLETE

XGBOOST LF_NE GS

,number,value,datetime_start,datetime_complete,params_learning_rate,params_n_estimators,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
85,85,0.941426,2020-04-15 10:39:28.658715,2020-04-15 10:42:30.443466,0.0850,600,0.983942,0.941426,0.781690,0.058189,COMPLETE
56,56,0.941222,2020-04-15 09:40:10.716637,2020-04-15 09:44:05.260822,0.0875,800,0.983895,0.941222,0.785965,0.056319,COMPLETE
57,57,0.941097,2020-04-15 09:44:05.265170,2020-04-15 09:46:58.881633,0.0925,575,0.982456,0.941097,0.785965,0.056205,COMPLETE
89,89,0.941044,2020-04-15 10:47:26.892009,2020-04-15 10:51:08.783118,0.0850,750,0.983942,0.941044,0.781690,0.058049,COMPLETE
42,42,0.940929,2020-04-15 09:12:53.717808,2020-04-15 09:17:26.453886,0.0500,900,0.983942,0.940929,0.781690,0.057457,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...
19,19,0.934627,2020-04-15 08:33:37.096859,2020-04-15 08:34:11.673696,0.2550,100,0.980910,0.934627,0.766488,0.061604,COMPLETE
28,28,0.934345,2020-04-15 08:51:40.610853,2020-04-15 08:52:15.227955,0.1950,100,0.980910,0.934345,0.764286,0.061614,COMPLETE
59,59,0.934238,2020-04-15 09:47:54.969240,2020-04-15 09:48:37.712481,0.1025,125,0.982405,0.934238,0.757630,0.064142,COMPLETE
3,3,0.933456,2020-04-15 08:02:55.212998,2020-04-15 08:03:30.001220,0.1375,100,0.980910,0.933456,0.759857,0.063453,COMPLETE
92,92,0.931689,2020-04-15 10:54:21.785754,2020-04-15 10:54:56.463183,0.1750,100,0.979412,0.931689,0.766488,0.062099,COMPLETE

XGBOOST LF_NE TPE

,number,value,datetime_start,datetime_complete,params_colsample_bytree,params_gamma,params_max_delta_step,params_max_depth,params_min_child_weight,params_reg_alpha,params_reg_lambda,params_subsample,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
31,31,0.944427,2020-04-15 23:40:50.977802,2020-04-15 23:48:14.807948,0.962850,0.00000,0,9,0,2.315458e-05,1.151114e-02,0.909982,0.985337,0.944427,0.775221,0.058967,COMPLETE
38,38,0.944003,2020-04-16 00:07:08.450710,2020-04-16 00:10:12.838365,0.944421,0.01750,0,12,3,1.625448e-05,2.137040e-01,0.909164,0.985380,0.944003,0.766488,0.061910,COMPLETE
32,32,0.943817,2020-04-15 23:48:14.815739,2020-04-15 23:51:25.597909,0.958280,0.01625,0,10,1,1.886013e-05,1.436638e-02,0.911906,0.983942,0.943817,0.764286,0.062283,COMPLETE
55,55,0.943671,2020-04-16 00:58:01.826298,2020-04-16 01:01:16.565825,0.953843,0.01625,0,9,1,5.856559e-06,5.565441e-01,0.908083,0.982507,0.943671,0.768683,0.060846,COMPLETE
84,84,0.943625,2020-04-16 02:29:59.966546,2020-04-16 02:33:11.838018,0.939676,0.01625,0,11,2,2.156707e-05,9.209451e-01,0.920197,0.983942,0.943625,0.768683,0.061237,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,72,0.935844,2020-04-16 01:48:50.216076,2020-04-16 01:51:46.626748,0.951305,0.01650,0,11,0,1.552397e-06,3.359014e-03,0.910184,0.982353,0.935844,0.741818,0.066995,COMPLETE
64,64,0.934769,2020-04-16 01:24:19.396732,2020-04-16 01:27:10.663226,0.953683,0.01900,0,10,0,9.705547e-08,8.247290e-03,0.959196,0.982353,0.934769,0.741818,0.067355,COMPLETE
15,15,0.934703,2020-04-15 22:51:37.652556,2020-04-15 22:54:59.678630,0.996734,0.00625,0,12,0,4.642234e-05,3.315623e-02,0.915998,0.982353,0.934703,0.746377,0.066503,COMPLETE
59,59,0.926390,2020-04-16 01:10:17.522652,2020-04-16 01:11:52.368143,0.941620,0.02000,0,1,2,2.512560e-04,6.171960e-01,0.903077,0.976540,0.926390,0.770870,0.062148,COMPLETE
10,10,0.915389,2020-04-15 22:35:43.491794,2020-04-15 22:38:33.540517,0.943301,0.02000,0,10,0,1.023165e-08,1.804851e-08,0.999030,0.983847,0.915389,0.552301,0.122736,COMPLETE

XGBOOST AF GS

,number,value,datetime_start,datetime_complete,params_learning_rate,params_n_estimators,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
83,83,0.922877,2020-04-15 13:41:08.842848,2020-04-15 13:43:16.629983,0.3000,450,0.989781,0.922877,0.781690,0.060899,COMPLETE
30,30,0.921434,2020-04-15 11:57:05.258292,2020-04-15 11:59:01.723732,0.1775,375,0.988338,0.921434,0.766488,0.062596,COMPLETE
20,20,0.921426,2020-04-15 11:42:49.450073,2020-04-15 11:45:06.922450,0.0925,425,0.988338,0.921426,0.766488,0.062612,COMPLETE
78,78,0.921180,2020-04-15 13:30:08.222906,2020-04-15 13:32:16.372224,0.2925,450,0.986900,0.921180,0.775221,0.061411,COMPLETE
94,94,0.920957,2020-04-15 14:05:16.983357,2020-04-15 14:06:57.241434,0.2325,325,0.986900,0.920957,0.775221,0.058800,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...
77,77,0.913817,2020-04-15 13:28:14.102125,2020-04-15 13:30:08.216730,0.2175,375,0.986900,0.913817,0.768683,0.064355,COMPLETE
12,12,0.913495,2020-04-15 11:30:48.576550,2020-04-15 11:31:47.481023,0.2050,175,0.988372,0.913495,0.757630,0.065258,COMPLETE
27,27,0.913092,2020-04-15 11:53:00.852588,2020-04-15 11:53:52.144242,0.1875,150,0.989811,0.913092,0.766488,0.066901,COMPLETE
53,53,0.913062,2020-04-15 12:39:56.556755,2020-04-15 12:40:39.486645,0.1600,125,0.989781,0.913062,0.753153,0.069435,COMPLETE
84,84,0.911898,2020-04-15 13:43:16.636162,2020-04-15 13:44:06.365006,0.1000,150,0.988338,0.911898,0.750903,0.071112,COMPLETE

XGBOOST AF TPE

,number,value,datetime_start,datetime_complete,params_colsample_bytree,params_gamma,params_max_delta_step,params_max_depth,params_min_child_weight,params_reg_alpha,params_reg_lambda,params_subsample,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
41,41,0.928312,2020-04-16 07:19:29.714671,2020-04-16 07:21:18.347039,0.902041,0.01075,0,7,0,3.271444e-08,9.599099e-01,0.919329,0.989781,0.928312,0.773050,0.060651,COMPLETE
83,83,0.927972,2020-04-16 08:32:58.951582,2020-04-16 08:34:35.807061,0.917936,0.01325,0,7,0,1.647497e-08,4.041556e-01,0.912222,0.989781,0.927972,0.775221,0.059155,COMPLETE
25,25,0.927413,2020-04-16 06:51:29.223485,2020-04-16 06:53:07.902684,0.912568,0.01500,0,8,0,3.838167e-08,5.758576e-01,0.921300,0.989781,0.927413,0.766488,0.062195,COMPLETE
44,44,0.927260,2020-04-16 07:24:56.486871,2020-04-16 07:26:28.101364,0.906469,0.00825,0,8,0,8.375589e-08,6.845370e-02,0.905568,0.989781,0.927260,0.773050,0.060583,COMPLETE
62,62,0.927163,2020-04-16 07:57:13.424400,2020-04-16 07:58:56.983700,0.908707,0.00900,0,9,0,2.452565e-08,4.642010e-01,0.900439,0.988304,0.927163,0.762075,0.063771,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,7,0.898325,2020-04-16 06:19:48.874662,2020-04-16 06:21:40.446912,0.971009,0.00525,1,7,6,1.098157e-01,2.363742e-01,0.910720,0.983942,0.898325,0.732997,0.078376,COMPLETE
1,1,0.894640,2020-04-16 06:10:18.276097,2020-04-16 06:11:50.440093,0.921231,0.00950,1,11,0,7.744024e-05,6.679122e-08,0.929958,0.985380,0.894640,0.558333,0.123595,COMPLETE
5,5,0.884195,2020-04-16 06:16:50.044411,2020-04-16 06:17:57.646517,0.980540,0.00700,1,1,4,5.084775e-06,1.221153e-06,0.985529,0.981022,0.884195,0.723810,0.088358,COMPLETE
69,69,0.883927,2020-04-16 08:09:23.733009,2020-04-16 08:10:26.535249,0.919299,0.00775,0,1,1,4.244504e-08,3.487844e-01,0.901532,0.976608,0.883927,0.722281,0.086175,COMPLETE
3,3,0.881048,2020-04-16 06:13:43.142788,2020-04-16 06:15:04.700260,0.965591,0.00275,0,2,2,1.341830e-08,1.403851e-06,0.967396,0.985465,0.881048,0.775221,0.076836,COMPLETE

XGBOOST AF_NE GS

,number,value,datetime_start,datetime_complete,params_learning_rate,params_n_estimators,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
80,80,0.944802,2020-04-15 17:26:11.664546,2020-04-15 17:30:01.720396,0.0975,725,0.985337,0.944802,0.796522,0.052504,COMPLETE
8,8,0.944103,2020-04-15 14:48:27.897791,2020-04-15 14:51:14.005035,0.1000,500,0.985337,0.944103,0.796522,0.052417,COMPLETE
58,58,0.944085,2020-04-15 16:39:41.475770,2020-04-15 16:41:39.595405,0.1375,350,0.980854,0.944085,0.796522,0.052259,COMPLETE
55,55,0.944084,2020-04-15 16:31:09.322406,2020-04-15 16:36:21.004757,0.0650,975,0.983847,0.944084,0.796522,0.052777,COMPLETE
63,63,0.944069,2020-04-15 16:50:42.116306,2020-04-15 16:52:41.689683,0.1200,350,0.985465,0.944069,0.794425,0.053275,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...
42,42,0.937065,2020-04-15 16:04:13.305703,2020-04-15 16:05:01.202772,0.1225,125,0.980854,0.937065,0.768683,0.060215,COMPLETE
46,46,0.936859,2020-04-15 16:13:27.256748,2020-04-15 16:14:06.259508,0.1700,100,0.979351,0.936859,0.762075,0.061619,COMPLETE
31,31,0.936761,2020-04-15 15:41:14.505625,2020-04-15 15:42:02.075391,0.1450,125,0.980854,0.936761,0.775221,0.058307,COMPLETE
95,95,0.935060,2020-04-15 18:01:52.584569,2020-04-15 18:02:40.406109,0.1025,125,0.979351,0.935060,0.759857,0.062364,COMPLETE
93,93,0.934163,2020-04-15 17:59:17.848552,2020-04-15 17:59:56.904186,0.1550,100,0.978229,0.934163,0.764286,0.062032,COMPLETE

XGBOOST AF_NE TPE

,number,value,datetime_start,datetime_complete,params_colsample_bytree,params_gamma,params_max_delta_step,params_max_depth,params_min_child_weight,params_reg_alpha,params_reg_lambda,params_subsample,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
79,79,0.948751,2020-04-16 13:49:37.720449,2020-04-16 13:52:47.730253,0.952423,0.00900,0,7,0,1.581707e-04,9.261006e-06,0.926023,0.983895,0.948751,0.792321,0.054272,COMPLETE
81,81,0.948541,2020-04-16 13:56:06.827047,2020-04-16 13:59:17.145423,0.952100,0.00925,0,7,0,5.734899e-04,1.115093e-05,0.926902,0.985423,0.948541,0.796522,0.052944,COMPLETE
82,82,0.948366,2020-04-16 13:59:17.157100,2020-04-16 14:02:28.873350,0.951581,0.00750,0,7,0,5.306539e-05,3.933495e-05,0.926316,0.985423,0.948366,0.794425,0.053717,COMPLETE
94,94,0.948285,2020-04-16 14:39:16.709513,2020-04-16 14:42:26.673142,0.963710,0.00750,0,6,0,1.730727e-04,7.009701e-04,0.926939,0.989840,0.948285,0.792321,0.054666,COMPLETE
11,11,0.948059,2020-04-16 10:16:26.139376,2020-04-16 10:19:29.864257,0.998929,0.01500,1,4,0,1.283705e-08,1.913056e-08,0.902270,0.989870,0.948059,0.817094,0.048060,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,38,0.939019,2020-04-16 11:39:53.263272,2020-04-16 11:43:00.019089,0.976507,0.01625,1,4,10,2.466106e-06,2.340079e-07,0.946292,0.979351,0.939019,0.808950,0.049706,COMPLETE
29,29,0.939009,2020-04-16 11:11:36.510591,2020-04-16 11:14:59.687518,0.993522,0.00875,1,8,9,8.289325e-07,2.099355e-05,0.932229,0.982405,0.939009,0.790210,0.054396,COMPLETE
4,4,0.937613,2020-04-16 09:53:50.023683,2020-04-16 09:57:18.072938,0.958664,0.00100,1,11,8,3.092746e-03,6.874715e-06,0.952571,0.982353,0.937613,0.775221,0.057956,COMPLETE
17,17,0.932723,2020-04-16 10:34:27.148789,2020-04-16 10:36:30.429642,0.985958,0.01675,1,1,5,2.921768e-07,1.863796e-03,0.901763,0.980966,0.932723,0.783831,0.057976,COMPLETE
14,14,0.932013,2020-04-16 10:25:43.002834,2020-04-16 10:27:46.271030,0.980280,0.01600,1,1,1,1.153294e-07,2.388056e-01,0.900149,0.979472,0.932013,0.781690,0.058629,COMPLETE

In [3]:
# LIGHTGBM 

# LIGHTGBM LF
print("LIGHTGBM LF GS")
study_gslight_LF = util.read_pickle(experiment_1 + "rs_lightgbm_LF.pkl")
study_gslight_LF_df = study_gslight_LF.trials_dataframe()
display(study_gslight_LF_df[study_gslight_LF_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

print("LIGHTGBM LF TPE")
study_tpelight_LF = util.read_pickle(experiment_1 + "tpe_lightgbm_LF.pkl")
study_tpelight_LF_df = study_tpelight_LF.trials_dataframe()
display(study_tpelight_LF_df[study_tpelight_LF_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

# LIGHTGBM LF_NE
print("LIGHTGBM LF_NE GS")
study_gslight_LF_NE = util.read_pickle(experiment_1 + "rs_lightgbm_LF_NE.pkl")
study_gslight_LF_NE_df = study_gslight_LF_NE.trials_dataframe()
display(study_gslight_LF_NE_df[study_gslight_LF_NE_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

print("LIGHTGBM LF_NE TPE")
study_tpelight_LF_NE = util.read_pickle(experiment_1 + "tpe_lightgbm_LF_NE.pkl")
study_tpelight_LF_NE_df = study_tpelight_LF_NE.trials_dataframe()
display(study_tpelight_LF_NE_df[study_tpelight_LF_NE_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

# LIGHTGBM AF
print("LIGHTGBM AF GS")
study_gslight_AF = util.read_pickle(experiment_1 + "rs_lightgbm_AF.pkl")
study_gslight_AF_df = study_gslight_AF.trials_dataframe()
display(study_gslight_AF_df[study_gslight_AF_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

print("LIGHTGBM AF TPE")
study_tpelight_AF = util.read_pickle(experiment_1 + "tpe_lightgbm_AF.pkl")
study_tpelight_AF_df = study_tpelight_AF.trials_dataframe()
display(study_tpelight_AF_df[study_tpelight_AF_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

# LIGHTGBM AF
print("LIGHTGBM AF_NE GS")
study_gslight_AF_NE = util.read_pickle(experiment_1 + "rs_lightgbm_AF_NE.pkl")
study_gslight_AF_NE_df = study_gslight_AF_NE.trials_dataframe()
display(study_gslight_AF_NE_df[study_gslight_AF_NE_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

print("LIGHTGBM AF_NE TPE")
study_tpelight_AF_NE = util.read_pickle(experiment_1 + "tpe_lightgbm_AF_NE.pkl")
study_tpelight_AF_NE_df = study_tpelight_AF_NE.trials_dataframe()
display(study_tpelight_AF_NE_df[study_tpelight_AF_NE_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

LIGHTGBM LF GS

,number,value,datetime_start,datetime_complete,params_learning_rate,params_n_estimators,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
71,71,0.888741,2020-04-14 17:44:13.000219,2020-04-14 17:45:06.405087,0.2125,425,0.985380,0.888741,0.750903,0.083621,COMPLETE
43,43,0.888493,2020-04-14 17:17:48.490983,2020-04-14 17:18:43.625099,0.2125,450,0.985380,0.888493,0.750903,0.084239,COMPLETE
47,47,0.888351,2020-04-14 17:22:04.978887,2020-04-14 17:23:02.447275,0.1450,350,0.986823,0.888351,0.753153,0.084180,COMPLETE
95,95,0.887454,2020-04-14 18:11:34.211580,2020-04-14 18:13:32.212580,0.0750,775,0.986823,0.887454,0.753153,0.083866,COMPLETE
89,89,0.887214,2020-04-14 18:05:52.985255,2020-04-14 18:06:39.162915,0.2850,425,0.985380,0.887214,0.755396,0.080177,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...
76,76,0.871480,2020-04-14 17:51:30.205769,2020-04-14 17:51:58.048485,0.2200,150,0.986823,0.871480,0.661538,0.106944,COMPLETE
96,96,0.871013,2020-04-14 18:13:32.220010,2020-04-14 18:14:09.093750,0.1425,200,0.986823,0.871013,0.640669,0.108879,COMPLETE
63,63,0.870895,2020-04-14 17:37:32.548265,2020-04-14 17:38:09.646519,0.1200,200,0.986823,0.870895,0.656489,0.110385,COMPLETE
61,61,0.870204,2020-04-14 17:35:51.261937,2020-04-14 17:36:15.498452,0.1500,125,0.985380,0.870204,0.631868,0.112849,COMPLETE
10,10,0.870035,2020-04-14 16:50:00.841973,2020-04-14 16:50:33.118033,0.2075,175,0.989781,0.870035,0.636615,0.112212,COMPLETE

LIGHTGBM LF TPE

,number,value,datetime_start,datetime_complete,params_colsample_bytree,params_min_child_samples,params_num_leaves,params_reg_alpha,params_reg_lambda,params_subsample,params_subsample_freq,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
68,68,0.925755,2020-04-14 18:05:59.413426,2020-04-14 18:06:10.680954,0.404920,7,228,6.120501e-05,1.007244e-03,0.676793,0,0.979412,0.925755,0.759857,0.062014,COMPLETE
71,71,0.925697,2020-04-14 18:06:34.968410,2020-04-14 18:06:46.334779,0.407845,7,232,1.247013e-05,1.547824e-03,0.634616,0,0.979412,0.925697,0.757630,0.062696,COMPLETE
84,84,0.925228,2020-04-14 18:09:03.397249,2020-04-14 18:09:15.685288,0.401964,5,250,2.079385e-07,1.131984e-02,0.656883,0,0.979472,0.925228,0.757630,0.062828,COMPLETE
96,96,0.924837,2020-04-14 18:11:38.271042,2020-04-14 18:11:50.304164,0.420514,5,234,1.608057e-04,4.672207e-03,0.688042,0,0.980966,0.924837,0.757630,0.062231,COMPLETE
66,66,0.924719,2020-04-14 18:05:36.800486,2020-04-14 18:05:48.533382,0.461061,6,225,1.322110e-04,7.706496e-04,0.594195,0,0.982405,0.924719,0.757630,0.063256,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,76,0.534960,2020-04-14 18:07:31.821012,2020-04-14 18:07:41.699262,0.400765,13,237,9.311353e-06,4.578855e-04,0.727480,5,0.956268,0.534960,0.000000,0.308699,COMPLETE
18,18,0.531592,2020-04-14 17:55:42.054383,2020-04-14 17:55:52.522398,0.798850,13,103,7.649555e-04,7.107727e-07,0.425314,2,0.828283,0.531592,0.003861,0.227381,COMPLETE
57,57,0.469273,2020-04-14 18:03:59.333433,2020-04-14 18:04:07.684620,0.667427,25,119,1.245062e-02,3.245186e-08,0.488829,7,0.864939,0.469273,0.000000,0.278849,COMPLETE
38,38,0.460831,2020-04-14 18:00:18.853522,2020-04-14 18:00:30.026763,0.912099,21,219,4.743256e-03,1.517796e-06,0.562784,3,0.941176,0.460831,0.000000,0.359728,COMPLETE
59,59,0.313013,2020-04-14 18:04:18.172568,2020-04-14 18:04:28.529105,0.578345,16,238,6.278114e-05,8.778075e-05,0.658735,4,0.867816,0.313013,0.000000,0.265764,COMPLETE

LIGHTGBM LF_NE GS

,number,value,datetime_start,datetime_complete,params_learning_rate,params_n_estimators,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
9,9,0.947150,2020-04-14 20:12:43.990505,2020-04-14 20:15:03.835500,0.1075,475,0.986938,0.947150,0.794425,0.054444,COMPLETE
41,41,0.946759,2020-04-14 21:15:36.465868,2020-04-14 21:17:59.797957,0.1000,475,0.986861,0.946759,0.792321,0.054846,COMPLETE
24,24,0.946304,2020-04-14 20:36:41.106355,2020-04-14 20:38:12.913496,0.1475,275,0.986823,0.946304,0.785965,0.056923,COMPLETE
19,19,0.946304,2020-04-14 20:28:11.396285,2020-04-14 20:29:42.857515,0.1475,275,0.986823,0.946304,0.785965,0.056923,COMPLETE
10,10,0.946191,2020-04-14 20:15:03.836899,2020-04-14 20:16:25.635370,0.2425,350,0.986823,0.946191,0.794425,0.054311,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...
56,56,0.940051,2020-04-14 21:39:36.086280,2020-04-14 21:41:06.268178,0.2900,450,0.986823,0.940051,0.790210,0.056529,COMPLETE
76,76,0.939730,2020-04-14 22:18:23.585023,2020-04-14 22:19:28.945495,0.1900,175,0.985380,0.939730,0.781690,0.057865,COMPLETE
61,61,0.939457,2020-04-14 21:52:18.195020,2020-04-14 21:53:25.055361,0.2875,300,0.985380,0.939457,0.788091,0.056186,COMPLETE
90,90,0.939320,2020-04-14 22:40:25.669119,2020-04-14 22:41:17.593245,0.1000,125,0.982405,0.939320,0.757630,0.063627,COMPLETE
18,18,0.938356,2020-04-14 20:27:29.797800,2020-04-14 20:28:11.394562,0.2775,100,0.983847,0.938356,0.779541,0.059274,COMPLETE

LIGHTGBM LF_NE TPE

,number,value,datetime_start,datetime_complete,params_colsample_bytree,params_min_child_samples,params_num_leaves,params_reg_alpha,params_reg_lambda,params_subsample,params_subsample_freq,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
86,86,0.953493,2020-04-15 02:58:33.139318,2020-04-15 02:59:37.683143,0.440120,29,109,4.220289e-04,0.000005,0.449629,1,0.983847,0.953493,0.808950,0.050129,COMPLETE
42,42,0.952935,2020-04-15 01:51:02.811174,2020-04-15 01:52:16.066323,0.476114,48,107,1.066362e-06,0.001262,0.545357,1,0.985337,0.952935,0.808950,0.050661,COMPLETE
18,18,0.952779,2020-04-15 01:20:31.017648,2020-04-15 01:21:57.155638,0.810596,37,40,1.028115e-03,0.000001,0.462475,1,0.986823,0.952779,0.815068,0.048898,COMPLETE
94,94,0.952214,2020-04-15 03:07:31.275546,2020-04-15 03:08:33.669766,0.461253,35,80,3.387443e-03,0.000008,0.473742,1,0.986823,0.952214,0.806897,0.050657,COMPLETE
77,77,0.951816,2020-04-15 02:41:58.148884,2020-04-15 02:43:12.840321,0.446237,41,95,1.464766e-04,0.000546,0.459151,1,0.985337,0.951816,0.813036,0.048757,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,47,0.643536,2020-04-15 01:56:34.984900,2020-04-15 01:57:39.929416,0.425971,24,174,3.591732e-08,0.001018,0.512847,2,0.983847,0.643536,0.000000,0.372490,COMPLETE
73,73,0.618041,2020-04-15 02:36:33.461167,2020-04-15 02:37:35.742114,0.521274,37,148,1.760891e-03,0.000757,0.486257,2,0.985337,0.618041,0.011111,0.368425,COMPLETE
92,92,0.569600,2020-04-15 03:05:09.788788,2020-04-15 03:06:09.296389,0.431178,41,107,5.447915e-05,0.000004,0.495799,7,0.979532,0.569600,0.005764,0.389871,COMPLETE
33,33,0.521120,2020-04-15 01:39:40.831161,2020-04-15 01:41:03.548108,0.682241,20,65,1.525273e-06,0.000474,0.623285,4,0.982353,0.521120,0.000000,0.389363,COMPLETE
34,34,0.432362,2020-04-15 01:41:03.555844,2020-04-15 01:42:41.890341,0.742279,30,140,9.353635e-08,0.000030,0.557413,6,0.980854,0.432362,0.000000,0.362307,COMPLETE

LIGHTGBM AF GS

,number,value,datetime_start,datetime_complete,params_learning_rate,params_n_estimators,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
61,61,0.921718,2020-04-14 08:04:41.196153,2020-04-14 08:05:17.289413,0.2250,500,0.989781,0.921718,0.768683,0.063099,COMPLETE
24,24,0.920943,2020-04-14 07:41:10.963830,2020-04-14 07:42:39.766834,0.0750,1000,0.989781,0.920943,0.768683,0.063590,COMPLETE
26,26,0.920499,2020-04-14 07:43:19.706796,2020-04-14 07:44:48.956233,0.0700,925,0.988338,0.920499,0.770870,0.063989,COMPLETE
21,21,0.920335,2020-04-14 07:39:36.901113,2020-04-14 07:40:16.208261,0.1675,400,0.989781,0.920335,0.762075,0.066293,COMPLETE
1,1,0.920251,2020-04-14 07:26:32.695648,2020-04-14 07:27:11.012426,0.1925,450,0.989811,0.920251,0.766488,0.066179,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...
63,63,0.908487,2020-04-14 08:05:46.717578,2020-04-14 08:06:14.459845,0.2450,300,0.988338,0.908487,0.766488,0.071976,COMPLETE
5,5,0.908485,2020-04-14 07:29:38.696646,2020-04-14 07:30:04.310276,0.1850,175,0.988338,0.908485,0.749727,0.083917,COMPLETE
57,57,0.908075,2020-04-14 08:01:44.612608,2020-04-14 08:02:00.208656,0.1775,100,0.989811,0.908075,0.750903,0.081117,COMPLETE
45,45,0.906968,2020-04-14 07:55:12.954685,2020-04-14 07:55:28.511929,0.1725,100,0.989781,0.906968,0.750903,0.078371,COMPLETE
30,30,0.906667,2020-04-14 07:46:13.095319,2020-04-14 07:46:28.697968,0.1975,100,0.986861,0.906667,0.750903,0.081696,COMPLETE

LIGHTGBM AF TPE

,number,value,datetime_start,datetime_complete,params_colsample_bytree,params_min_child_samples,params_num_leaves,params_reg_alpha,params_reg_lambda,params_subsample,params_subsample_freq,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
51,51,0.936619,2020-04-14 09:24:28.297692,2020-04-14 09:24:59.398780,0.949944,16,59,6.590284e-05,0.022054,0.464019,1,0.989781,0.936619,0.773050,0.059874,COMPLETE
91,91,0.936558,2020-04-14 09:43:41.654018,2020-04-14 09:44:16.837120,0.949871,13,104,2.194717e-05,0.059405,0.518693,2,0.988304,0.936558,0.766488,0.061623,COMPLETE
89,89,0.935388,2020-04-14 09:42:53.872324,2020-04-14 09:43:23.344877,0.867186,21,104,2.253628e-05,0.045834,0.439626,2,0.989781,0.935388,0.770870,0.060794,COMPLETE
96,96,0.935379,2020-04-14 09:46:25.427746,2020-04-14 09:46:55.873058,0.944676,20,127,2.146837e-04,0.036306,0.436527,3,0.988338,0.935379,0.779541,0.058467,COMPLETE
71,71,0.935098,2020-04-14 09:34:11.997584,2020-04-14 09:34:42.442652,0.781976,31,75,1.020240e-04,0.012259,0.663018,1,0.991254,0.935098,0.764286,0.063115,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,33,0.399555,2020-04-14 09:15:25.327601,2020-04-14 09:15:47.641134,0.943501,30,96,3.164932e-08,0.002593,0.677879,7,0.830633,0.399555,0.005764,0.318799,COMPLETE
16,16,0.399220,2020-04-14 09:09:15.900899,2020-04-14 09:09:30.252807,0.520592,20,106,8.367823e-07,0.000001,0.725377,7,0.890533,0.399220,0.000000,0.285819,COMPLETE
22,22,0.362937,2020-04-14 09:11:47.315095,2020-04-14 09:12:01.196880,0.543959,50,130,4.373885e-06,0.002436,0.549011,7,0.626717,0.362937,0.000000,0.241705,COMPLETE
50,50,0.356537,2020-04-14 09:24:09.660610,2020-04-14 09:24:28.290702,0.991437,12,19,2.521898e-05,0.005874,0.413856,2,0.933148,0.356537,0.000000,0.294488,COMPLETE
90,90,0.348535,2020-04-14 09:43:23.356107,2020-04-14 09:43:41.642614,0.896897,18,128,9.464329e-06,0.005229,0.440331,3,0.628788,0.348535,0.073733,0.188942,COMPLETE

LIGHTGBM AF_NE GS

,number,value,datetime_start,datetime_complete,params_learning_rate,params_n_estimators,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
52,52,0.949012,2020-04-14 11:38:44.728375,2020-04-14 11:41:05.501724,0.0575,850,0.988439,0.949012,0.796522,0.054043,COMPLETE
9,9,0.948912,2020-04-14 10:57:13.743897,2020-04-14 10:58:59.797515,0.0825,675,0.985507,0.948912,0.798611,0.053269,COMPLETE
5,5,0.948898,2020-04-14 10:53:26.377059,2020-04-14 10:54:05.367548,0.2575,275,0.984035,0.948898,0.802768,0.051292,COMPLETE
8,8,0.948889,2020-04-14 10:55:18.312437,2020-04-14 10:57:13.742721,0.0825,850,0.985423,0.948889,0.802768,0.052056,COMPLETE
32,32,0.948792,2020-04-14 11:22:17.914859,2020-04-14 11:23:11.414416,0.1675,350,0.988406,0.948792,0.800693,0.052663,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...
83,83,0.943221,2020-04-14 12:07:21.287966,2020-04-14 12:07:53.709384,0.2850,200,0.986938,0.943221,0.785965,0.056533,COMPLETE
44,44,0.942962,2020-04-14 11:31:33.621023,2020-04-14 11:32:10.164323,0.2950,300,0.983895,0.942962,0.792321,0.054147,COMPLETE
40,40,0.942747,2020-04-14 11:28:11.217349,2020-04-14 11:28:37.223695,0.1350,100,0.985423,0.942747,0.759857,0.064164,COMPLETE
53,53,0.941072,2020-04-14 11:41:05.506282,2020-04-14 11:41:31.604956,0.1575,100,0.983847,0.941072,0.766488,0.061742,COMPLETE
95,95,0.940912,2020-04-14 12:20:25.206691,2020-04-14 12:20:51.430198,0.1550,100,0.983895,0.940912,0.762075,0.062754,COMPLETE

LIGHTGBM AF_NE TPE

,number,value,datetime_start,datetime_complete,params_colsample_bytree,params_min_child_samples,params_num_leaves,params_reg_alpha,params_reg_lambda,params_subsample,params_subsample_freq,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
31,31,0.952301,2020-04-14 14:17:55.982562,2020-04-14 14:20:04.892500,0.892990,80,196,7.286820e-04,2.889636e-02,0.903458,1,0.986938,0.952301,0.785965,0.057215,COMPLETE
70,70,0.952132,2020-04-14 15:32:20.401295,2020-04-14 15:34:24.691304,0.899831,84,84,1.022477e-05,5.352769e-02,0.921901,2,0.988406,0.952132,0.790210,0.056408,COMPLETE
91,91,0.951944,2020-04-14 16:12:29.575703,2020-04-14 16:14:42.490340,0.985208,71,142,1.304128e-04,1.009238e-02,0.998566,0,0.986823,0.951944,0.783831,0.058360,COMPLETE
71,71,0.951865,2020-04-14 15:34:24.700338,2020-04-14 15:36:35.509526,0.934367,83,63,2.633564e-06,5.519480e-02,0.939012,2,0.986938,0.951865,0.790210,0.056157,COMPLETE
13,13,0.951786,2020-04-14 13:46:11.583386,2020-04-14 13:48:09.810588,0.888379,99,154,1.106388e-04,2.489178e-02,0.859870,0,0.985507,0.951786,0.792321,0.055465,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,6,0.945695,2020-04-14 13:34:47.558925,2020-04-14 13:35:44.953459,0.819073,86,52,9.094425e-02,1.358129e-08,0.568563,2,0.985337,0.945695,0.773050,0.060210,COMPLETE
38,38,0.945559,2020-04-14 14:31:00.930722,2020-04-14 14:32:02.543469,0.965047,74,148,7.521845e-01,4.118399e-02,0.863702,2,0.984081,0.945559,0.764286,0.063116,COMPLETE
83,83,0.941275,2020-04-14 15:57:13.749643,2020-04-14 15:58:12.233676,0.753918,90,7,1.430468e-04,1.152741e-01,0.903121,3,0.982609,0.941275,0.810997,0.049395,COMPLETE
7,7,0.940880,2020-04-14 13:35:44.955016,2020-04-14 13:36:18.747416,0.932540,48,11,8.986689e+00,1.603500e-03,0.587073,4,0.979592,0.940880,0.764286,0.061510,COMPLETE
0,0,0.935185,2020-04-14 13:24:00.641789,2020-04-14 13:26:27.966536,0.830467,7,178,8.907017e-08,4.681972e+00,0.717043,7,0.984081,0.935185,0.661509,0.092539,COMPLETE

In [4]:
# CATBOOST

# CATBOOST LF
print("CATBOOST LF GS")
study_gscat_LF = util.read_pickle(experiment_1 + "rs_catboost_LF.pkl")
study_gscat_LF_df = study_gscat_LF.trials_dataframe()
display(study_gscat_LF_df[study_gscat_LF_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

# CATBOOST LF_NE
print("CATBOOST LF_NE GS")
study_gscat_LF_NE = util.read_pickle(experiment_1 + "rs_catboost_LF_NE.pkl")
study_gscat_LF_NE_df = study_gscat_LF_NE.trials_dataframe()
display(study_gscat_LF_NE_df[study_gscat_LF_NE_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

# CATBOOST AF
print("CATBOOST AF GS")
study_gscat_AF = util.read_pickle(experiment_1 + "rs_catboost_AF.pkl")
study_gscat_AF_df = study_gscat_AF.trials_dataframe()
display(study_gscat_AF_df[study_gscat_AF_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

print("CATBOOST AF TPE")
study_tpecat_AF = util.read_pickle(experiment_1 + "tpe_catboost_AF.pkl")
study_tpecat_AF_df = study_tpecat_AF.trials_dataframe()
display(study_tpecat_AF_df[study_tpecat_AF_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

# CATBOOST AF_NE
print("CATBOOST AF_NE GS")
study_gscat_AF_NE = util.read_pickle(experiment_1 + "rs_catboost_AF_NE.pkl")
study_gscat_AF_NE_df = study_gscat_AF_NE.trials_dataframe()
display(study_gscat_AF_NE_df[study_gscat_AF_NE_df["state"] == "COMPLETE"].sort_values("value", ascending=False))

CATBOOST LF GS

,number,value,datetime_start,datetime_complete,params_iterations,params_learning_rate,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
38,38,0.894257,2020-04-18 20:53:02.513948,2020-04-18 20:53:15.621827,100,0.1600,0.985337,0.894257,0.783831,0.070979,COMPLETE
62,62,0.892348,2020-04-18 21:45:05.284699,2020-04-18 21:45:39.144559,475,0.2400,0.982456,0.892348,0.796522,0.069424,COMPLETE
4,4,0.892015,2020-04-18 19:53:13.852257,2020-04-18 19:53:47.313217,475,0.0150,0.979351,0.892015,0.775221,0.079292,COMPLETE
83,83,0.891743,2020-04-18 22:21:20.559422,2020-04-18 22:21:52.632775,450,0.1450,0.983895,0.891743,0.788091,0.073036,COMPLETE
9,9,0.891274,2020-04-18 20:07:50.547430,2020-04-18 20:08:06.374657,150,0.1650,0.983895,0.891274,0.778281,0.075433,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...
30,30,0.853304,2020-04-18 20:34:14.378507,2020-04-18 20:39:55.451492,750,0.1000,0.986861,0.853304,0.634280,0.122492,COMPLETE
43,43,0.850816,2020-04-18 20:58:28.130442,2020-04-18 21:04:51.587575,850,0.0775,0.983847,0.850816,0.647940,0.117610,COMPLETE
44,44,0.850648,2020-04-18 21:04:51.591035,2020-04-18 21:09:03.050712,550,0.0825,0.985337,0.850648,0.633120,0.124809,COMPLETE
79,79,0.849487,2020-04-18 22:14:36.935915,2020-04-18 22:20:16.843449,750,0.0775,0.986823,0.849487,0.638376,0.120093,COMPLETE
85,85,0.842711,2020-04-18 22:22:23.786209,2020-04-18 22:26:12.619468,500,0.1700,0.985380,0.842711,0.627949,0.124020,COMPLETE

CATBOOST LF_NE GS

,number,value,datetime_start,datetime_complete,params_iterations,params_learning_rate,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
1,1,0.940653,2020-04-18 23:09:44.918077,2020-04-18 23:10:20.345311,425,0.1150,0.983895,0.940653,0.815068,0.048873,COMPLETE
48,48,0.940618,2020-04-19 01:15:45.970376,2020-04-19 01:16:21.067758,425,0.3000,0.982507,0.940618,0.810997,0.050732,COMPLETE
15,15,0.940325,2020-04-18 23:42:59.548082,2020-04-18 23:43:30.314323,350,0.1350,0.982353,0.940325,0.817094,0.048084,COMPLETE
36,36,0.940325,2020-04-19 00:46:38.943930,2020-04-19 00:47:09.789704,350,0.1350,0.982353,0.940325,0.817094,0.048084,COMPLETE
51,51,0.940162,2020-04-19 01:21:34.428517,2020-04-19 01:22:13.003985,475,0.1925,0.986823,0.940162,0.815068,0.050620,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...
95,95,0.924430,2020-04-19 03:13:00.188605,2020-04-19 03:13:16.613118,125,0.2500,0.985380,0.924430,0.788991,0.068423,COMPLETE
97,97,0.924355,2020-04-19 03:13:40.668858,2020-04-19 03:21:26.628175,825,0.0175,0.982405,0.924355,0.766488,0.076939,COMPLETE
63,63,0.923496,2020-04-19 01:56:54.411474,2020-04-19 02:04:13.785235,775,0.0125,0.980966,0.923496,0.766488,0.076364,COMPLETE
8,8,0.923346,2020-04-18 23:28:14.399587,2020-04-18 23:33:57.384297,600,0.0125,0.979532,0.923346,0.764286,0.072959,COMPLETE
99,99,0.919502,2020-04-19 03:22:04.071293,2020-04-19 03:22:21.465795,150,0.2025,0.979592,0.919502,0.796522,0.065154,COMPLETE

CATBOOST AF GS

,number,value,datetime_start,datetime_complete,params_iterations,params_learning_rate,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
18,18,0.920431,2020-04-19 10:35:30.844624,2020-04-19 10:35:57.776041,300,0.1200,0.986823,0.920431,0.819113,0.053874,COMPLETE
40,40,0.919606,2020-04-19 11:39:48.004318,2020-04-19 11:40:24.551379,450,0.1250,0.985337,0.919606,0.817094,0.056959,COMPLETE
33,33,0.919273,2020-04-19 11:12:12.701790,2020-04-19 11:12:50.445884,475,0.2575,0.986823,0.919273,0.813036,0.055515,COMPLETE
99,99,0.919255,2020-04-19 14:02:43.470059,2020-04-19 14:03:10.847530,300,0.2700,0.985337,0.919255,0.798611,0.058050,COMPLETE
56,56,0.918298,2020-04-19 12:18:32.609686,2020-04-19 12:19:06.034701,400,0.1575,0.986823,0.918298,0.806897,0.056138,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...
38,38,0.893570,2020-04-19 11:28:12.775372,2020-04-19 11:32:40.880407,500,0.1825,0.985380,0.893570,0.737226,0.088511,COMPLETE
34,34,0.893570,2020-04-19 11:12:50.448725,2020-04-19 11:17:21.445565,500,0.1825,0.985380,0.893570,0.737226,0.088511,COMPLETE
10,10,0.892168,2020-04-19 10:06:46.670950,2020-04-19 10:14:44.419048,900,0.0975,0.988304,0.892168,0.721003,0.093232,COMPLETE
25,25,0.891743,2020-04-19 10:46:05.228936,2020-04-19 10:50:33.291049,500,0.1325,0.988304,0.891743,0.748644,0.092830,COMPLETE
67,67,0.887952,2020-04-19 12:36:47.537456,2020-04-19 12:41:16.438936,500,0.1925,0.986823,0.887952,0.723247,0.096095,COMPLETE

CATBOOST AF TPE

,number,value,datetime_start,datetime_complete,params_depth,params_l2_leaf_reg,params_random_strength,params_rsm,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
84,84,0.933323,2020-04-19 23:34:29.643022,2020-04-19 23:35:14.181492,10,5.55,60.066339,0.028898,0.986938,0.933323,0.815068,0.055078,COMPLETE
80,80,0.933304,2020-04-19 23:31:13.984450,2020-04-19 23:32:00.528493,10,4.85,70.638929,0.035071,0.986823,0.933304,0.808950,0.050227,COMPLETE
83,83,0.933285,2020-04-19 23:33:41.609173,2020-04-19 23:34:29.635277,10,4.80,60.031111,0.034438,0.983988,0.933285,0.804836,0.051334,COMPLETE
61,61,0.932862,2020-04-19 23:11:24.096118,2020-04-19 23:12:08.163588,10,6.05,68.171036,0.028785,0.983847,0.932862,0.813036,0.050663,COMPLETE
60,60,0.932349,2020-04-19 23:10:35.793800,2020-04-19 23:11:24.090053,10,6.10,67.287073,0.038073,0.985337,0.932349,0.808950,0.050529,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,3,0.890443,2020-04-19 22:02:50.973339,2020-04-19 22:03:39.001864,6,8.85,88.017250,0.632047,0.988304,0.890443,0.711340,0.095889,COMPLETE
6,6,0.888503,2020-04-19 22:05:09.790477,2020-04-19 22:05:45.736504,5,1.95,57.108034,0.461100,0.988304,0.888503,0.720272,0.086792,COMPLETE
48,48,0.887084,2020-04-19 22:57:57.263732,2020-04-19 22:58:15.637319,4,4.85,94.305639,0.055847,0.982353,0.887084,0.640148,0.102636,COMPLETE
1,1,0.882257,2020-04-19 22:01:05.724806,2020-04-19 22:01:44.848086,5,8.95,39.242918,0.538634,0.986823,0.882257,0.703967,0.095322,COMPLETE
17,17,0.881268,2020-04-19 22:20:14.344559,2020-04-19 22:20:50.364727,4,1.15,69.311720,0.852084,0.980910,0.881268,0.736239,0.087925,COMPLETE

CATBOOST AF_NE GS

,number,value,datetime_start,datetime_complete,params_iterations,params_learning_rate,user_attrs_cv_max,user_attrs_cv_mean,user_attrs_cv_min,user_attrs_cv_std,state
22,22,0.941991,2020-04-19 15:23:57.764763,2020-04-19 15:24:38.287060,450,0.2200,0.983847,0.941991,0.819113,0.048037,COMPLETE
5,5,0.941651,2020-04-19 15:02:15.852936,2020-04-19 15:02:54.162655,400,0.2325,0.983847,0.941651,0.823129,0.046865,COMPLETE
60,60,0.941529,2020-04-19 17:04:40.578581,2020-04-19 17:05:08.756008,275,0.1775,0.985549,0.941529,0.817094,0.048768,COMPLETE
97,97,0.941461,2020-04-19 19:01:13.098586,2020-04-19 19:01:52.487715,425,0.0850,0.981022,0.941461,0.815068,0.050497,COMPLETE
6,6,0.941249,2020-04-19 15:02:54.163716,2020-04-19 15:03:35.556083,450,0.1375,0.982507,0.941249,0.817094,0.049459,COMPLETE
...,...,...,...,...,...,...,...,...,...,...,...
30,30,0.930590,2020-04-19 15:59:34.283432,2020-04-19 15:59:49.526069,100,0.1450,0.977843,0.930590,0.800693,0.057308,COMPLETE
4,4,0.930590,2020-04-19 15:02:00.352984,2020-04-19 15:02:15.851965,100,0.1450,0.977843,0.930590,0.800693,0.057308,COMPLETE
61,61,0.930259,2020-04-19 17:05:08.760538,2020-04-19 17:05:28.210454,150,0.1050,0.980966,0.930259,0.802768,0.058297,COMPLETE
9,9,0.929095,2020-04-19 15:11:43.750640,2020-04-19 15:11:59.565298,100,0.2550,0.982558,0.929095,0.800693,0.059244,COMPLETE
10,10,0.926006,2020-04-19 15:11:59.566602,2020-04-19 15:12:15.041050,100,0.1875,0.982456,0.926006,0.775281,0.069917,COMPLETE