In [1]:
import cryptoaml.datareader as cdr

In [2]:
weather = cdr.get_data("noaa_weather")

In [3]:
# print(weather["class"].value_counts())

In [4]:
data = weather.train_test_split(train_size=0.7, as_dict=False)

train_data = data.train_X
test_data = data.test_X

display(train_data)

,temperature,dew_point,sea_level_pressure,visibility,avg_wind_speed,max_sustained_wind_speed,max_temperature,min_temperature,ts
0,19.8,14.0,1019.6,8.4,9.9,15.9,28.9,14.0,1
1,26.8,22.2,1006.2,8.1,10.9,19.0,34.0,21.0,1
2,34.6,32.9,1004.6,3.9,13.8,22.0,36.0,33.1,1
3,26.4,21.5,1006.9,8.0,18.7,30.1,39.9,16.0,1
4,14.7,7.9,1009.9,8.1,14.1,22.0,21.0,9.0,1
...,...,...,...,...,...,...,...,...,...
12715,3.3,-7.3,1023.5,19.3,2.5,5.8,14.2,-3.8,424
12716,16.5,12.2,1015.7,11.7,2.7,8.0,17.2,15.3,424
12717,9.6,2.4,1022.3,12.6,12.4,22.0,15.3,4.1,424
12718,0.5,-9.6,1035.8,20.1,6.9,11.8,6.3,-3.8,424
12719,3.0,-6.9,1034.2,19.9,4.1,14.0,18.1,-4.9,424

In [5]:
display(test_data)

,temperature,dew_point,sea_level_pressure,visibility,avg_wind_speed,max_sustained_wind_speed,max_temperature,min_temperature,ts
12720,20.9,14.4,1025.3,18.2,5.4,9.9,25.2,15.3,425
12721,25.5,23.2,1029.2,5.2,1.6,4.9,29.1,23.2,425
12722,20.7,18.9,1032.8,10.3,2.4,7.0,27.1,14.2,425
12723,22.3,18.7,1023.9,11.8,2.9,8.9,33.1,13.1,425
12724,31.0,28.0,1018.8,14.7,3.0,9.9,36.0,26.2,425
...,...,...,...,...,...,...,...,...,...
18154,32.6,21.9,1022.7,7.0,12.4,26.0,41.0,24.8,606
18155,36.8,25.4,1014.9,7.0,10.0,19.0,57.2,21.2,606
18156,41.9,29.9,1010.0,7.0,4.7,9.9,62.6,28.4,606
18157,42.4,29.7,1011.3,7.0,3.3,8.9,51.8,32.0,606
18158,36.6,29.5,1017.9,6.8,4.8,13.0,53.6,24.8,606